// Place all the styles related to the BillableHours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.billable-card {
  background: white;
  float: left;
  margin: 8px 8px;
  padding: 10px;
  width: 250px;
  height: 30px;
  border: 1px solid #ccc;
  font-family: "Helvetica";
  position: relative;
}

.project-color {
  width: 10px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.card-info {
	margin-left: 10px;
	font-size: 12px;
}

.card-info textarea {
	width: 210px;
}
